@font-face {
  font-family: "Inter-Medium";
  src: url("./Fonts/static/Inter-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
:root {
  display: flex;
  justify-content: center;
  background-color: #1c1c1c;
  font-family: "Inter-Medium";
}
